* {
  margin: 0%;
  padding: 0%;
  font-family: "Press Start 2P", cursive;
}

body {
  background-color: black;
}

button {
  border: 0;
  border-right: 1px solid black;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #ddd;
}

#div {
  display: inline-block;
  position: relative;
}

#overlappingDiv {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
}

.battle-bar {
  background-color: white;
  position: absolute;
  height: 130px;
  bottom: 0;
  right: 0;
  left: 0;
  border-top: 4px black solid;
  display: flex;
}

.attack-options {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.attack-type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  border-left: 4px black solid;
}

.attack-type h1 {
  font-size: 16px;
}
